<h1>Edit taks</h1>
<%= form_with(model: @task) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>
  <div>
    <%= form.submit 'Update Task' %>
  </div>
  <%= link_to "Back to list", tasks_path %>
<% end %>
